/* public/css/styles.css */

/* Estilo del cuerpo */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo del header */
.header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Estilo de la sección hero */
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* Estilos para la sección de información */
.info {
    padding: 2rem;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Estilo para la galería */
.gallery {
    padding: 2rem;
    text-align: center;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-img {
    width: 30%;
    margin: 10px 0;
}

/* Estilo de contacto */
.contact {
    background-color: #0044cc;
    color: white;
    padding: 2rem;
    text-align: center;
}

/* Estilo del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
    }

    .gallery-container {
        flex-direction: column;
    }

    .gallery-img {
        width: 100%;
    }
}
